@model Restaurant_Web_App.Models.New

@{
    ViewBag.Title = "New";
}

<h4>New Details</h4>

<div>    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimePosted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) &nbsp;
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-secondary" })
</p>
